

/* .form-control{
    display: inline;
} */
.container{
    margin-top: 80px;
}
.form-label{
    margin-right: 10px;
}
input:first-of-type {
    margin-right: 100px;
}
.line{
    display: flex;
    flex-wrap: wrap !important;
    width: 1300px;
    background-color: rgb(141, 141, 141);
    padding: 2px;
}
.display7 {
    display: inline-flex !important;
    width: 50vw;
    flex-direction: column !important;
    flex-wrap: wrap !important;


}
@media only screen and (max-width: 423px){
    /* increase width of element */
    .display7 {
      width: 90vw;
    }
}

@media only screen and (max-width: 423px){
    /* increase width of element */
    .line {
      width: 95vw;
    }
}
.btnn{
    margin-top: 20px;
}